<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# **Data Science Tools and Ecosystem**

 In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1) Python,
2) R  
3) Scala 
4) SQL

### Some of the commonly used libraries used by Data Scientists include:
1) Matplotlib
2) Plotly
3) TensorFlow
4) Pandas


| | Data Science Tools |
| :--- | :--- |
| 1) | RStudio |
| 2) | Apache Spark |
| 3) | TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

Ex. ((5 + 4) -3) = (9-3) = 6

Ex. ((7)2)3 = ((7 7))3 = (49)3 = ((49 49) 49) = (2401 49) = 117649.

In [5]:
(3*4)+5
# his a simple arithmetic expression to mutiply then add integers

17

In [7]:
min = 200
hour = min/60
hour
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives**

List popular languages for Data Science
* Python
* R
* Scala
* SQL

## Author

Vedant Ganesh Badukale

Undergrate At Indian Institute of Information Techonology, Nagpur